body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #0f816f;
    color: white;
    padding: 20px;
}

header h1{
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 40px;
}

header h2{
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links li{
    margin-right: 10px;
}

.about{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

.about{

}

.title-underline {
    width: 55px; /* Largura da linha */
    height: 1px; /* Espessura da linha */
    background-color: #000; /* Cor da linha (preto neste exemplo) */
    margin-top: 10px; /* Espaço entre o título e a linha */
    margin: 10px auto 40px; /* Alinhar horizontalmente no centro */
}

.about p{
    text-align: justify;
    line-height: 1.5; /* Ajuste o valor conforme necessário */
}

.profile-image {
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 0%; /* Bordas arredondadas para criar uma imagem circular */
    width: 300px; /* Largura da imagem */
    height: 300px; /* Altura da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    border: 5px solid #fff; /* Adiciona uma borda branca */
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensiona a imagem para preencher o contêiner circular */
}

.simple-section {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.container {
    text-align: center;
    max-width: 900px; /* Ajuste conforme necessário para o tamanho desejado */
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-box h4 {
    margin-bottom: 10px;
}

.content-box p {
    color: #555;
}

.content-box img {
    max-width: 30%; /* Ajusta a largura da imagem para ocupar 100% da largura da caixa */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-bottom: 10px; /* Espaçamento inferior para a imagem */
}

footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 20px 0; /* Espaçamento interno do footer */
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-links a {
    display: block;
    color: #fff; /* Cor dos ícones sociais */
    margin-right: 15px; /* Espaçamento entre os ícones sociais */
    font-size: 20px; /* Tamanho dos ícones sociais */
    margin-bottom: 40px; /* Adiciona uma margem inferior de 20 pixels */
}

footer h3 {
    margin: 0; /* Remover margem padrão do título */
    margin-bottom: 20px; /* Adiciona uma margem inferior de 20 pixels */
}
footer .paragraph {
    font-size: 10;
    font-style: italic;
    margin-bottom: 40px; /* Adiciona uma margem inferior de 20 pixels */
}
